@page {
  size: a4;
  margin: 0.25in;
}

@media print {
  .nav,
  .info,
  .control {
    display: none;
  }

  .content {
    visibility: visible;
    color: black;
    display: grid;
    /* grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr); */
    /* height: 100%; */
    width: 100%;
  }

  .equation {
    padding: 20px;
  }
}
